<div class="container">
    <div class="row">
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <h1 class="text-center">Photos</h1>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3 " *ngFor="let i of photo">
                    
                    <div class="card" >
                        <p class="card-text text-center">{{i.title}}</p>
                        <img src="{{i.url}}" class="card-img-top" alt="...">
                        <div style="height: 300px;overflow-y:scroll " class="card-body">
                          <h5 class="card-title">albumId:{{i.albumId}}</h5>
                          <p class="card-text">ID:{{i.id}}</p>
                          <a href="{{i.thumbnailUrl}}" class="btn btn-primary">view Thumbnail</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
